body {
    overflow-y: scroll;
}

body:hover {
    overflow: auto;
}

.red {
    background: red;
    color: white;
}

.blue {
    background: blue;
    color: white;
}

.yellow {
    background: yellow;
}