* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Courier New', Courier, monospace;
}


header {
    background:rgba(180, 157, 181, 0.468);
    text-align: center;
    padding-right: 170px;
}

#content {
    text-align: center;
    width: 900px;
    height: 4000px;
    margin: 0 auto;
    padding: 20px 0;   
}

nav {
    width: 18%;
    border-left: 1px solid rgba(128, 128, 128, 0.454);
    position: sticky;
    top: 45px;
    float: right;
    text-align: left;
    padding-left: 10px;
    margin-top: 28px;
}

nav p {
    margin-left: 10px;
}

nav ul {
    margin-left: 35px;
}

a:link, a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    color: grey;
}

#sections {
    width: 81%;
    float: left;
    margin-right: 1%;
}

/* Hide sub-iframes & default (all) when any other is clicked*/
iframe, iframe:target ~ iframe[class^="default"] {
    display:none;
}

/* show targeted iframe, or default */
iframe[class^="default"], iframe:target {
    display:block;
}

:target:before {
    content: "";
    display: block;
    height: 100px;
    margin: -100px 0 0;
}

#iframe-container {
    position: relative;
}

/* Show & hide inner shadow */
.inner-shadow {
    position: absolute;
    z-index: 2;
    /*
    width: 683px;
    height: 218px; */
    margin: 0 1px 9px 9px;
    width: 683px;
    height: 191px;
    /*background-color: rgba(128, 128, 128, 0.454);*/
    opacity: 1;
    transition-delay: 150ms;
    transition-duration: 0.2s;
    pointer-events: none;
    box-shadow: inset 0 -30px 30px -20px #ffffff;
}

#iframe-container:hover > div {
    opacity: 0;
    transition-delay: 0s;
    transition-duration: 0s;
}

/* Open & close containers */
[class$="container"] {
    border: 1px solid rgba(72, 66, 66, 0.468);
    min-height: 200px;
    max-height: 200px;
    padding: 8px;
    overflow:hidden;
    transition: min-height 0.2s ease-out;
}

[class$="container"]:hover {
    cursor: default;
    overflow: auto;
    min-height: 566px;
    transition: min-height 0.15s ease-in;
}

iframe {
    border: none;
    width: 100%;
}
