* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
}

#content {
    text-align: center;
    width: 900px;
    height: 4000px;
    border: 2px solid red;
    margin: 0 auto;
    padding: 20px 0;   
}

nav {
    border: 2px solid red;
    width: 18%;
    position: sticky;
    top: 15px;
    float: right;
    text-align: left;
    /*display: inline-block;*/
}

a:link, a:visited {
    text-decoration: none;
    color: black;
}

#sections {
    border: 2px solid green;
    width: 82%;
    float: left;
}

/* Hide sub-iframes & default (all) when any other is clicked*/
iframe, iframe:target ~ iframe[src$="boxes.html"] {
    display:none;
}

/* show targeted iframe, or default */
iframe[src$="boxes.html"], iframe:target {
    display:block;
}

iframe[class$="container"] {
    border: 2px solid yellow;
    min-height: 200px;
    padding: 8px;
    overflow:hidden;
    transition: min-height 0.2s ease-out;
}

iframe[class$="container"]:hover {
    min-height: 300px;
    cursor: default;
    overflow: auto;
    transition: min-height 0.15s ease-in;
}

div[class$="container"] {
    border: 2px solid yellow;
    max-height: 200px;
    padding: 8px;
    overflow:hidden;
    transition: max-height 0.2s ease-out;
}

div[class$="container"]:hover {
    max-height: 300px;
    cursor: default;
    overflow: auto;
    transition: max-height 0.15s ease-in;
}

.colorBox {
    border: 2px solid blue;
    float: left;
    height: 100px;
    width: 100px;
    border-radius: 10px;
    margin-right: 5px;
    margin-top: 5px;
}

iframe {
    border: none;
    width: 100%;
}

/* Clearfix containers 
[class$="container"]::after {
    content: "";
    clear: both;
    display: table;
  }*/