body {
    overflow-y: scroll;
    color: #495057;
}

body:hover {
    overflow: auto;
}

/* color box styling */
.symbol {
    border: 1px solid rgba(99, 96, 96, 0.228);
    
    float: left;
    height: 84;
    width: 84;
    border-radius: 10px;
    margin-right: 2px;
    margin-bottom: 2px;
    transition-duration: 0.2s;
    /* center */
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.6em;
}

.symbol .symbolcode {
    font-size: 14px;
}

.symbol > i{
    position:absolute;
    font-size: 30px;
    opacity: 1;
    transition-duration: 0.2s;
}

.symbolcode {
    position:relative;
    opacity: 0;
    transition-duration: 0.2s;
}

.symbol:hover > i {
    opacity: 0;
    transition-duration: 0.1s;
}

.symbol:hover > p[class] {
    opacity: 1;
    transition-duration: 0.2s;
}

/* edge  blur on hover - slightly changes the color  
.symbol:hover {
    box-shadow: inset 0px 0px 70px 0px #3f3b3b4f;
    transition-duration: 0.2s;
}
/* --- */

/* Code coloring */

#setup {
    line-height: 1;
    padding: 14px;
}

#setup .symbol + p {
    clear: left;
}

code {
    color: #868e96;
    line-height: 19px;
    font-size: 12px;
}

.line {
    background: #343a40;
    padding: 2px 0;
}

code .o {
    color: #fd7e14;
}

code .y {
    color: #ffd8a8;
}

code .w {
    color: white;
}